<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>AdsManagement</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
    <style type="text/css">
        .pic{
            width: 60px;
            height: 60px;
            border: 1px solid;
        }
        .pic img{
            width: 100%;
            height: 100%;
        }
        
    	.content_break{word-wrap:break-word;}
 
    </style>
</head>
<body>
<div class="header">header</div>
<div class="content">

    <div class="col-lg-2">
        <div id="wrapper">
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">

                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-fw fa-map-signs"></i>AdsManagement</a>
                    </li>
                    <li>
                        <a th:href="@{shopManage}"><i class="fa fa-fw fa-folder"></i>ShopManage</a>
                    </li>
                    <li>
                        <a th:href="@{customerManage}"><i class="fa fa-fw fa-users"></i>CustomerManage</a>
                    </li>
                    <li>
                        <a th:href="@{commission}"><i class="fa fa-fw fa-line-chart"></i>Commission</a>
                    </li>
                    <li>
                        <a th:href="@{backUp}"><i class="fa fa-fw fa-database"></i>Back Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="col-lg-10">
        <br>
        <br>
        <br>
        <br>
        <!--广告申请处理-->
        <div class="panel panel-default">
            <div class="panel-heading" style="background: #dcccbd">
                <h3 class="panel-title" >
                    Ads Request
                </h3>
            </div>
            <div class="panel-body">
                <!--商铺广告管理-->
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="background: #b4c5dc" >
                            Shop Ads Management
                        </div>
                        <table class="table table-bordered table-hover">

                            <thead>
                            <tr class="success">
                                <th>Ads ID</th>
                                <th>Shop Owner</th>
                                <th>Description</th>
                                <th>Picture</th>
                                <th>Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Approve</th>
                                <th>Reject</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="p,index:${shopFindAll}">
                                <tr>

                                    <td th:text="${p.advertisementId}">a001</td>
                                    <td th:text="${p.sellerName}">1</td>
                                    <td>
                                       <div style="width:140px;" class="content_break" th:text="${p.description}"></div>
                                    </td>
                                    <td><div class="pic"><img th:src="${p.pictureUrl}"></div></td>
                                    <td th:text="${p.price}">$50</td>
                                    <td th:text="${p.startDate}">1</td>
                                    <td th:text="${p.endDate}">1</td>
                                    <td><button th:onclick="'shopagree('+${p.advertisementId}+')'">✔</button></td>
                                    <td><button th:onclick="'shopreject('+${p.advertisementId}+')'">✖</button></td>


                                </tr>

                            </th:block>
                            </tbody>

                        </table>
                    </div><!-- end of panel -->
                </div>
                <!--商品广告管理-->
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading"  style="background: #c2dcb7">
                            Product Ads Management
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="success">
                                <th>Ads ID</th>
                                <th>Description</th>
                                <th>Shop Owner</th>
                                <th>Type</th>
                                <th>Picture</th>
                                <th>Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Approve</th>
                                <th>Reject</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="p,index:${productFindAll}">
                                <tr>

                                    <td th:text="${p.advertisementId}">a001</td>
                                    <td>
                                        <div style="width:140px;" class="content_break" th:text="${p.description}"></div>
                                    </td>
                                    <td th:text="${p.sellerName}">Anna</td>
                                    <td th:text="${p.type}">1</td>
                                    <td><div class="pic"><img th:src="${p.pictureUrl}"></div></td>
                                    <td th:text="${p.price}">$50</td>
                                    <td th:text="${p.startDate}">1</td>
                                    <td th:text="${p.endDate}">1</td>
                                    <td><button th:onclick="'productagree('+${p.advertisementId}+')'">✔</button></td>
                                    <td><button th:onclick="'productreject('+${p.advertisementId}+')'">✖</button></td>

                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div><!-- end of panel -->
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background: #dcaea8">
                <h3 class="panel-title" >
                    Ads Show
                </h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background: #1ab188">
                        <h3 class="panel-title" >Shop Ads</h3>
                    </div>
                    <table class="table">
                        <thead>
                        <th>Ads ID</th>

                        <th>Description</th>
                        <th>Shop Owner</th>
                        <th>Price </th>
                        <th>Picture</th>
                        <th>Statr Date</th>
                        <th>End Date</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        <th:block th:each="p,index:${onShopFindAll}">

                            <tr>
                                <td th:text="${p.advertisementId}">a001</td>
                                <td>
                                    <div style="width:140px;" class="content_break" th:text="${p.description}"></div>
                                </td>
                                <td th:text="${p.sellerName}">Anna</td>
                                <td th:text="${p.price}">1</td>
                                <td><div class="pic"><img th:src="${p.pictureUrl}"></div></td>
                                <td th:text="${p.startDate}">1</td>
                                <td th:text="${p.endDate}">1</td>
                                <td><button  style="background: #F04243;border-radius: 8px;" class="btn-default" name="delete" th:onclick="'shopdelete('+${p.advertisementId}+')'">delete</button></td>

                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background: #b19aa9">Product Ads</div>
                    <table class="table">
                        <thead>
                        <th>Ads ID</th>
                        <th>Description</th>
                        <th>Shop Owner</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Picture</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Delete</th>
                        </thead>
                        <tbody>
                        <th:block th:each="p,index:${onProductFindAll}">
                            <tr>
                                <td th:text="${p.advertisementId}">a001</td>
                                <td>
                                   <!-- <textarea style="width:140px;height:60px;" th:text="${p.description}">iWatch</textarea> --> 
                                   <div style="width:140px;" class="content_break" th:text="${p.description}"></div>
                                </td>
                                <td th:text="${p.sellerName}">Anna</td>
                                <td th:text="${p.type}">1</td>
                                <td th:text="${p.price}">$50</td>
                                <td><div class="pic"><img th:src="${p.pictureUrl}"></div></td>
                                <td th:text="${p.startDate}">1</td>
                                <td th:text="${p.endDate}">1</td>
                                <td><button  style="background: #F04243;border-radius: 8px;" class="btn-default" name="delete" th:onclick="'productdelete('+${p.advertisementId}+')'">delete</button></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--广告列表的请求处理-->
</div>
<div class="footer"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" th:text="${adminUserName}"></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{personalInformation}">Personal Infomation</a></li>
                <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height: 50px" onclick="Logout">
                    Log out
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Sure to Log Out
                                </h4>
                            </div>
                            <div class="modal-body" >
                                Log Out
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                </button>
                                <a href="/admin/logout"><button type="button" class="btn btn-primary">
                                    Sure
                                </button></a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
</nav>
</body>
<script>
    function shopagree(id){
        window.location.href="/admin/agreeShopApply?advertisementId="+id;
    }
    function shopreject(id){
        window.location.href="/admin/rejectShopApply?advertisementId="+id;
    }
    function productagree(id){
        window.location.href="/admin/agreeProductApply?advertisementId="+id;
    }
    function productreject(id){
        window.location.href="/admin/rejectProductApply?advertisementId="+id;
    }
    function shopdelete(id){
        window.location.href="/admin/deleteShopApply?advertisementId="+id;
    }
    function productdelete(id){
        window.location.href="/admin/deleteProductApply?advertisementId="+id;
    }
</script>
</html>
