<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Commission</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
</head>
<body>
<div class="col-lg-2">
    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Management Bar
                    </a>
                </li>
                <li>
                    <a th:href="@{adsManagement}"><i class="fa fa-fw fa-map-signs"></i>AdsManagement</a>
                </li>
                <li>
                    <a th:href="@{shopManage}"><i class="fa fa-fw fa-folder"></i>ShopManage</a>
                </li>
                <li>
                    <a th:href="@{customerManage}"><i class="fa fa-fw fa-users"></i>CustomerManage</a>
                </li>
                <li class="active">
                    <a href="#"><i class="fa fa-fw fa-line-chart"></i>Commission</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="col-lg-10">
    <br>
    <br>
    <br>
    <h3>Find income and trade with date </h3>
    <div>
        <input type="text" style="width: 200px;height: 50px;font-size: 40px;border-radius: 8px;" id="year" maxlength="4"  onkeyup="value=value.replace(/[^0-9]/,'')" ></input>
        <input type="text" style="width: 100px;height: 50px;font-size: 40px;border-radius: 8px;" id="month" maxlength="2"  onkeyup="value=value.replace(/[^0-9]/,'')"></input>
        <input type="text" style="width: 100px;height: 50px;font-size: 40px;border-radius: 8px;" id="day" maxlength="2"  onkeyup="value=value.replace(/[^0-9]/,'')" ></input>
        <button style="background: #d9edf7;border-radius: 8px;width: 150px;height: 50px;font-size: 39px;" onclick=search()>Search</button>
    </div>
    <div style="margin: 20px 0 0 0">
            <span style="font-size: 20px">Total Shop Commission:  <span>
            <input type="text" th:value="${shopCommission}" disabled="true" style="border: none;background-color:white;font-size:20px "></input>
    </div>
    <div style="margin: 20px 0 0 0">
            <span style="font-size: 20px">Total Advertisement Commission:  <span>
            <input type="text" th:value="${adsCommission}" disabled="true"  style="border: none;background-color:white;font-size: 20px"></input>
    </div>
    <div style="margin: 20px 0 0 0">
            <span style="font-size: 20px">Total Product Commission:  <span>
            <input type="text" th:value="${productCommission}" disabled="true" style="border: none;background-color:white;font-size: 20px"></input>
    </div>
    <br>

    <!--广告收费调整-->
    <div class="well" style="background: #c1ecd7">
        <form action="/admin/updatePrice" method="post">
            <input class="hidden" name="adminId" th:value="${adminId}"/>
            Product Ads HighPrice
            <input id="productHighAdvertisementPrice" name="productHighAdvertisementPrice" type="text" th:value="${price.productHighAdvertisementPrice}"><br><br>
            Product Ads LowPrice
            <input id="productLowAdvertisementPrice" name="productLowAdvertisementPrice" type="text" th:value="${price.productLowAdvertisementPrice}"><br><br>
            Shop Ads Price
            <input id="sellerListAdvertisementPrice" name="sellerListAdvertisementPrice" type="text" th:value="${price.sellerListAdvertisementPrice}"><br><br>
            Shop Price
            <input id="shopPrice" name="shopPrice" type="text" th:value="${price.shopPrice}"><br><br>
            <div style="width: 800px; float: right">
                <button style="background: #5ff00b;border-radius: 8px;" class="btn-default" type="submit" value="submit">Submit</button>
            </div>
            <br>
        </form>
    </div>
    <br>
    <br>
    <!--按照时间查看收入情况-->



    <!--<h1>Ananul</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Catogery Commission
            </h3>
        </div>
        <div class="panel-body">
            <h3>Pie Chart</h3>
            <p>
            <canvas id="canvas_circle" width="500" height="300" style="border:2px solid #0026ff;" >
            </canvas>
        </p>
        </div>
    </div>-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" th:text="${adminUserName}">Anna</span>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{personalInformation}">Personal Information</a></li>
                    <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height:  50px">
                        Log out
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Sure to Log Out
                                    </h4>
                                </div>
                                <div class="modal-body" >
                                    Log Out
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                    </button>
                                    <a href="/admin/logout"><button type="button" class="btn btn-primary">
                                        Sure
                                    </button></a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <script>
        function search(){
            if(document.getElementById('year').value.length!=4&&document.getElementById('year').value.length!=0) {
                alert("The year must have four number");
                return;
            }
            if(document.getElementById('month').value.length!=2&&document.getElementById('month').value.length!=0) {
                alert("The month must have two number");
                return;
            }
            if(document.getElementById('day').value.length!=2&&document.getElementById('day').value.length!=0) {
                alert("The day must have two number");
                return;
            }
            if(document.getElementById('year').value=='') document.getElementById('year').value="yyyy";
            if(document.getElementById('month').value=='') document.getElementById('month').value="mm";
            if(document.getElementById('day').value=='') document.getElementById('day').value="dd";
            window.location.href="/admin/searchIncome?name="+document.getElementById('year').value+"-"+document.getElementById('month').value+"-"+document.getElementById('day').value;
        }
    </script>
</div>
</body>
</html>