<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>CustomerManagement</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
</head>
<body>

<div class="col-lg-2">
    <div id="wrapper">
        <!-- div class="overlay"></div><-->

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Management Bar
                    </a>
                </li>
               <li>
                        <a th:href="@{adsManagement}"><i class="fa fa-fw fa-map-signs"></i>AdsManagement</a>
                    </li>
                     <li>
                           <a th:href="@{shopManage}"><i class="fa fa-fw fa-folder"></i>ShopManage</a>
                       </li>
                       <li class="active">
                           <a href="#"><i class="fa fa-fw fa-users"></i>CustomerManage</a>
                       </li>
                       <li>
                           <a th:href="@{commission}"><i class="fa fa-fw fa-line-chart"></i>Commission</a>
                       </li>

                      <li>
                           <a th:href="@{backUp}"><i class="fa fa-fw fa-database"></i>Back Up</a>
                       </li>
            </ul>
        </nav>
    </div>
</div>
<div class="col-lg-10">
    <br>
    <br>
    <br>
	<h3>Search Customer with Customer Username </h3>
    <div>
        <input type="text" style="width: 400px;height: 50px;font-size: 50px;border-radius: 8px;" id="input1"></input>
        <button style="background: #d9edf7;border-radius: 8px;width: 150px;height: 50px;font-size: 39px;" onclick=search()>Search</button>
    </div>
    <br>
    <br>
    
     <div class="panel-group">
                       <div class="panel panel-primary">
                           <div class="panel-heading" style="background: #c8ecb4 ">
                               Customer List</div>
                           <table class="table table-bordered table-hover">
            <thead>
            <tr class="success">
            <tr>
                <th>Customer ID</th>
                <th>Customer Username</th>
                <th>Customer E-mail</th>
                <th>Blacklist</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                                <th:block th:each="u,index:${availableUserList}">
                               <tr>

                                   <td th:text="${u.userId}"></td>
                                   <td th:text="${u.username}"></td>
                                   <td th:text="${u.email}"></td>
                                   <td><button style="background: #343434;border-radius: 8px;" class="btn-default" th:onclick="'customerblack('+${u.userId}+')'">Blacklist</button></td>
                                   <td><button style="background: #f02315;border-radius: 8px;" class="btn-default" th:onclick="'customerdelete('+${u.userId}+')'">✖</button></td>


                               </tr>

                       </th:block>
                               </tbody>
        </table>
    </div>
    
    <br />
    <br />
	<div class="panel-group">
                       <div class="panel panel-primary">
                           <div class="panel-heading" style="background: #b67a74">
                               Blacklist</div>
                           <table class="table table-bordered table-hover">
            <thead>
            <tr class="success">
            <tr>
                <th>Customer ID</th>
                <th>Customer Username</th>
                <th>Customer E-mail</th>
                <th>Whitelist</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                                <th:block th:each="u,index:${blacklistUserList}">
                               <tr>

                                   <td th:text="${u.userId}"></td>
                                   <td th:text="${u.username}"></td>
                                   <td th:text="${u.email}"></td>
                                   <td><button style="background: #5ff00b;border-radius: 8px;" class="btn-default" th:onclick="'customerrecover('+${u.userId}+')'">Whitelist</button></td>
                                   <td><button style="background: #f01525;border-radius: 8px;" class="btn-default" th:onclick="'customerdelete('+${u.userId}+')'">✖</button></td>


                               </tr>

                       </th:block>
                               </tbody>
        </table>
    </div>


</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" th:text="${adminUserName}">Anna</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{personalInformation}">Personal Information</a></li>

                <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height:  50px">
                    Log out
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Sure to Log Out
                                </h4>
                            </div>
                            <div class="modal-body" >
                                Log Out
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                </button>
                                <a href="/admin/logout"><button type="button" class="btn btn-primary">
                                        Sure
                                    </button></a>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
</body>
<script>
function customerblack(id){
	window.location.href="/admin/blackCustomer?userId="+id;
}
function customerrecover(id){
	window.location.href="/admin/recoverCustomer?userId="+id;
}
function customerdelete(id){
	window.location.href="/admin/deleteCustomer?userId="+id;
}
function search(){
    var name=document.getElementById('input1');
    window.location.href="/admin/searchCustomer?username="+name.value;
}
</script>
</html>