<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>incomeSearch</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
</head>
<body>

<div class="col-lg-2">
    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">

                </li>
                <li>

                    <a th:href="@{adsManagement}"><i class="fa fa-fw fa-folder"></i>AdsManagement</a>
                </li>
                <li>
                    <a th:href="@{shopManage}"><i class="fa fa-fw fa-map-signs"></i>ShopManage</a>
                </li>
                <li>
                    <a th:href="@{customerManage}"><i class="fa fa-fw fa-users"></i>CustomerManage</a>
                </li>
                <li>
                    <a th:href="@{commission}"><i class="fa fa-fw fa-line-chart"></i>Commission</a>
                </li>
                <li>
                    <a th:href="@{backUp}"><i class="fa fa-fw fa-database"></i>Back Up</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="col-lg-10">
    <br>
    <br>
    <br>


    <div class="panel panel-primary">
        <div>
            <div>
                <input type="text" style="width: 200px;height: 50px;font-size: 40px;border-radius: 8px;" id="year" maxlength="4" onkeyup="value=value.replace(/[^0-9]/,'')" ></input>
                <input type="text" style="width: 100px;height: 50px;font-size: 40px;border-radius: 8px;" id="month" maxlength="2" onkeyup="value=value.replace(/[^0-9]/,'')"></input>
                <input type="text" style="width: 100px;height: 50px;font-size: 40px;border-radius: 8px;" id="day" maxlength="2"  onkeyup="value=value.replace(/[^0-9]/,'')" ></input>
                <button style="background: #d9edf7;border-radius: 8px;width: 150px;height: 50px;font-size: 39px;" onclick=search()>Search</button>
            </div>
        </div>

        <table class="table">

            <caption style="background: #bee5eb">Commission of opening shop</caption>
            <thead>
            <tr>
                <th>date</th>
                <th>seller_id</th>
                <th>sell_name</th>
                <th>commission<th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="p,index:${shopList}">
                <tr>
                	<td th:text="${p.date}"></td>
                    <td th:text="${p.sellerId}"></td>
                    <td th:text="${p.sellerName}"></td>
                    <td th:text="${p.commission}"></td>
                </tr>

            </th:block>

        </table>
        <br>
        <br>
        <br>
        <table class="table">
            <caption style="background: #becceb">Commission of advertising</caption>
            <thead>
            <tr>
                <th>date</th>
                <th>seller_id</th>
                <th>sell_name</th>
                <th>commission<th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="p,index:${advertisementList}">
                <tr>
                    <td th:text="${p.date}"></td>
                    <td th:text="${p.sellerId}"></td>
                    <td th:text="${p.sellerName}"></td>
                    <td th:text="${p.commission}"></td>
                </tr>

            </th:block>

        </table>
        <br>
        <br>
        <br>
        <table class="table">
            <caption style="background: #c5beeb">Commission of product</caption>
            <thead>
            <tr>
                <th>date</th>
                <th>seller_id</th>
                <th>sell_name</th>
                <th>commission<th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="p,index:${rateList}">
                <tr>
                    <td th:text="${p.date}"></td>
                    <td th:text="${p.sellerId}"></td>
                    <td th:text="${p.sellerName}"></td>
                    <td th:text="${p.commission}"></td>
                </tr>

            </th:block>

        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"  style="background: #7f9c7d">
            <h3 class="panel-title">
                Check commission
            </h3>
        </div>
        <div class="panel-body">
            <select class="form-control" name="#####选择查看区间">
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Yearly">Yearly</option>
            </select>
            <table class="table">
                <thead>
                <tr>
                    <th>Sales commission</th>
                    <th>Shop ads pay</th>
                    <th>Product ads pay</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Shop1:200HKD</td>
                    <td>Shop1:300HKD</td>
                    <td>Product1:20HKD</td>
                </tr>
                </tbody>
            </table>
            <br><br>
            <h5>Total commission</h5>
            <hr style="height:3px;border:none;border-top:3px double red;" />
            <text>2000000.00HKD</text>

        </div>
    </div>
    <!--广告收入统计-->
    <h3>Ads Commission</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Ads ID</th>
            <th>Ads Start/End</th>
            <th>Ads Pay</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="u,index:${advertisementList}">
            <tr>
                <td th:text="${u.advertisementId}"></td>
                <td th:text="${u.sellerName}"></td>
                <td th:text="${u.price}"></td>
            </tr>
        </th:block>
        </tbody>
    </table><br><br>

<div class="footer"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" th:text="${adminUserName}">Anna</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{personalInformation}">Personal Infomation</a></li>
                <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height: 50px" onclick="Logout">
                    Log out
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Sure to Log Out
                                </h4>
                            </div>
                            <div class="modal-body" >
                                Log Out
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                </button>
                                <a href="/admin/logout"><button type="button" class="btn btn-primary">
                                    Sure
                                </button></a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<script>
    function shopagreeOne(id){
        window.location.href="/admin/agreeSellerApply?sellerId="+id;
    }
    function shoprejectOne(id){
        window.location.href="/admin/rejectSellerApply?sellerId="+id;
    }
    function black(id){
        window.location.href="/admin/black?sellerId="+id;
    }
    function unblack(id){
        window.location.href="/admin/unblack?sellerId="+id;
    }
    function search(){
        if(document.getElementById('year').value=='') document.getElementById('year').value="yyyy";
        if(document.getElementById('month').value=='') document.getElementById('month').value="mm";
        if(document.getElementById('day').value=='') document.getElementById('day').value="dd";
        window.location.href="/admin/searchIncome?name="+document.getElementById('year').value+"-"+document.getElementById('month').value+"-"+document.getElementById('day').value;
    }
</script>
</body>

</html>