<head>  
    <meta charset="UTF-8" />  
    <title>Title</title>  
</head>  
<body>  
<div class="web_login">  
    <form name="form2" id="regUser" accept-charset="utf-8"  action="/admin/addregister" method="post">  
        <ul class="reg_form" id="reg-ul">  
            <div id="userCue" class="cue">快速注册</div>  
            <li>  
                <label for="username"  class="input-tips2">用户名：</label>  
                <div class="inputOuter2">  
                    <input type="text" id="username" name="username" maxlength="16" class="inputstyle2"/>  
                </div>  
            </li>  
            <li>  
                <label for="password" class="input-tips2">密码：</label>  
                <div class="inputOuter2">  
                    <input type="password" id="password"  name="password" maxlength="16" class="inputstyle2"/>  
                </div>  
            </li>  
            <li>  
                <label for="password2" class="input-tips2">确认密码：</label>  
                <div class="inputOuter2">  
                    <input type="password" id="password2" name="password2" maxlength="16" class="inputstyle2" />  
                </div>  
            </li>  
            <li>  
                <label for="tel" class="input-tips2">手机号：</label>  
                <div class="inputOuter2">  
                    <input type="password" id="tel"  name="tel" maxlength="16" class="inputstyle2"/>  
                </div>  
            </li>  
            
            <li>  
                <div class="inputArea">  
                    <input type="submit" id="reg"  style="margin-top:10px;margin-left:85px;" class="button_blue" value="注册"/>
                </div>  
            </li><div class="cl"></div>  
        </ul>  
    </form>  
</div>  
</body>  