<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Customer Order</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/GoodsTypeStyle.css">
    <style type="text/css">
        qut{
            height: 30px;
        }
        change{
            width: 50px;
            height:32px;
            background: white;
            border:1px solid #CCC;
            float: left;
        }
        choice{
            width: 100px;
            height: 30px;
            text-align: center;
            display:inline-block;
            border:1px solid #CCC;
            line-height: 30px;
            float: left;
        }
    </style>

</head>
<body>
<div class="header">
    <img alt="140x140" src="./Resource/parknshop_logo.jpg" class="img-rounded"/>
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 modal-content">
                <div class="panel panel-default" style="height: 1200px">
                    <div class="panel-body">
                        <div a href=""><b>Home</b></div>
                        <br/>
                        <div a href=""><b>History</b></div>
                        <br/>
                        <div a href=""><b>Favorite Shop</b></div>
                        <br/>
                        <div a href=""><b>Favorite product</b></div>
                        <br/>
                        <div a href=""><b>My Cart</b></div>
                        <br/>


                    </div>
                </div>
            </div>


            <div class="col-lg-10 modal-content">
                <div style="width: 800px" class="col-md-offset-1">
                    <div class="panel panel-success">

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="container">
                                    <div class="col-lg-2">Order 1:
                                        <a href=""><b>conon</b></a>
                                    </div>
                                    <div class="col-lg-6">ID:7838724675</div>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="col-lg-3">
                            <img src="./Resource/conon.jpg" alt="Ballade" width="160" height="160">
                                </div>
                                <div class="col-lg-2">
                            <div>
                                Quatity
                            </div>
                            <div class="qut">
                                <input  class="change" type="button" value="-" onclick="less()">
                                <span class="choice">1</span>
                                <input class="change" type="button" value="+" onclick="add()">
                            </div>
                                </div>
                                <div class="col-lg-1">
                                   <div>Pay</div>
                                    <div>$300</div>
                                </div>
                                <div class="col-lg-2">
                                    <div>operation</div>
                                    <a href=" ">Move to trash</a><br>
                                    <a href=" ">Add fivorate</a><br>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="container">
                                    <div class="col-lg-2">Order 2:
                                        <a href=""><b>phone</b></a>
                                    </div>
                                    <div class="col-lg-6">ID:163131782673</div>

                                </div>
                            </h3>

                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="col-lg-3">
                                    <img src="./Resource/conon.jpg" alt="Ballade" width="160" height="160">
                                </div>
                                <div class="col-lg-2">
                                    <div>
                                        Quatity
                                    </div>
                                    <div class="qut">
                                        <input  class="change" type="button" value="-" onclick="less()">
                                        <span class="choice">1</span>
                                        <input class="change" type="button" value="+" onclick="add()">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div>Pay</div>
                                    <div>$300</div>
                                </div>
                                <div class="col-lg-2">
                                    <div>operation</div>
                                    <a href=" ">Move to trash</a><br>
                                    <a href=" ">Add fivorate</a><br>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="container">
                                    <div class="col-lg-2">Order 2:
                                        <a href=""><b>phone</b></a>
                                    </div>
                                    <div class="col-lg-6">ID:163131782673</div>

                                </div>
                            </h3>
                        </div>
                        <div class="container">
                            <div class="col-lg-3">
                                <img src="./Resource/conon.jpg" alt="Ballade" width="160" height="160">
                            </div>
                            <div class="col-lg-2">
                                <div>
                                    Quatity
                                </div>
                                <div class="qut">
                                    <input  class="change" type="button" value="-" onclick="less()">
                                    <span class="choice">1</span>
                                    <input class="change" type="button" value="+" onclick="add()">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div>Pay</div>
                                <div>$300</div>
                            </div>
                            <div class="col-lg-2">
                                <div>operation</div>
                                <a href=" ">Move to trash</a><br>
                                <a href=" ">Add fivorate</a><br>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="container">
                                    <div class="col-lg-2">Order 2:
                                        <a href=""><b>phone</b></a>
                                    </div>
                                    <div class="col-lg-6">ID:163131782673</div>

                                </div>
                            </h3>
                        </div>
                        <div class="container">
                            <div class="col-lg-3">
                                <img src="./Resource/conon.jpg" alt="Ballade" width="160" height="160">
                            </div>
                            <div class="col-lg-2">
                                <div>
                                    Quatity
                                </div>
                                <div class="qut">
                                    <input  class="change" type="button" value="-" onclick="less()">
                                    <span class="choice">1</span>
                                    <input class="change" type="button" value="+" onclick="add()">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div>Pay</div>
                                <div>$300</div>
                            </div>
                            <div class="col-lg-2">
                                <div>operation</div>
                                <a href=" ">Move to trash</a><br>
                                <a href=" ">Add fivorate</a><br>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="container">
                                    <div class="col-lg-2">Order 2:
                                        <a href=""><b>phone</b></a>
                                    </div>
                                    <div class="col-lg-6">ID:163131782673</div>

                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="col-lg-3">
                                    <img src="./Resource/conon.jpg" alt="Ballade" width="160" height="160">
                                </div>
                                <div class="col-lg-2">
                                    <div>
                                        Quatity
                                    </div>
                                    <div class="qut">
                                        <input  class="change" type="button" value="-" onclick="less()">
                                        <span class="choice">1</span>
                                        <input class="change" type="button" value="+" onclick="add()">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div>Pay</div>
                                    <div>$300</div>
                                </div>
                                <div class="col-lg-2">
                                    <div>operation</div>
                                    <a href=" ">Move to trash</a><br>
                                    <a href=" ">Add fivorate</a><br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="col-md-offset-1">
        <strong> About us:</strong><br>
        <a href=" ">029-1342535</a>
        <div> Copyright © 2015 XiDian SPM Group 5 Ltd. All rights reserved.</div>
    </div>
</div>
<script type="text/javascript">
    var span=document.getElementsByTagName('span');
    var num=parseInt(span[0].innerHTML);
    function less(){
        if (num==1) return;
        num--;
        span[0].innerHTML=num;
    }
    function add(){
        if(num>=100)return;
        num++;
        span[0].innerHTML=num;
    }
</script>
</body>
</html>