<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductDetail</title>
    </meta>
</head>

<body>
<div class="header">
    <a href="/homepage">
        <img src="/parknshop_logo.jpg" alt="logo" class="img-rounded"/>
    </a>
</div>
<div class="content">
    <div class="container">

        <div class="col-md-6" th:if="${not proisnull}">
            <img alt="140x140" th:src="@{'/'+${productdetail.getproductPhoto()}}" class="img-rounded"/>
            <div class="container">
                <form name="form1" th:action="@{/User/Start}" method="get">
                    <input type="text" name="ProductID" th:value="${productdetail.getproductId()}" readonly="readonly" > ProductID </input><br/>
                    <input type="text" name="ShopID" th:value="${productdetail.getsellerId()}" readonly="readonly" >ShopID</input><br/>
                    <input type="text" name="ProductName" th:value="${productdetail.getproductName()}" readonly="readonly" >ProductName</input><br/>
                    <input type="text" name="Price" th:value="${productdetail.getproductPrice()}" readonly="readonly" >Price</input><br/>
                    <th th:text="'Type: ' +${productdetail.gettype()}">type</th><br/>
                    <button type="submit" name="operation" th:value="go">go</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
</html>