<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="'css/foot.css'" rel="stylesheet" type="text/css" media="all">
    <link href="/css/foot.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/style_user.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery1.min_user.js"></script>
    <!-- start menu -->
    <link href="/css/megamenu_user.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/megamenu_user.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="/js/jquery.easydropdown_user.js"></script>
</head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="header-top-left">
            <div class="box">

            </div>
            <div class="box1">

            </div>
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>

                <li><a th:href="@{/User/login.html}">Log In</a></li> |
                <li><a th:href="@{/User/register.html}">Sign Up</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="/homepage"><img src="/images/logo.png" alt=""/></a>
            </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a th:href="@{/homepage}">Home</a></li>
                    <li><a class="color5" th:href="@{/User/login.html}">History</a>
                    </li>
                    <li><a class="color6" th:href="@{/User/login.html}"}>Cart</a></li>
                    <li><a class="color7" th:href="@{/User/login.html}">Favorite</a></li>
                </ul>
            </div>
        </div>
        <div class="header-bottom-right">
            <div class="search">
                <form th:action="@{/search/name}" method="get">
                    <input type="text" name="productname" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="hidden" name="UserID" th:value="${'-1'}" style="display: none" />
                    <input type="submit" value="Subscribe" id="submit" name="submit">
                </form>
                <div id="response"> </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div >
<div class="register_account">
    <div class="wrap">
        <h4 class="title">Create an Account</h4>
        <form action="/userRegister" method="post">
            <div class="col_1_of_2 span_1_of_2">
                <div><input name="username" type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"></div>
                <div><input name="phone_number" type="text"  value="phone_number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone_number';}" ></div>
                <div><input type="text" name="email" value="E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-Mail';}"></div>
                <div><input type="text" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"></div>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <h1 style="color: gray">
                        Welcome to PARKNSHOP!
                </h1>

            </div>
            <button class="grey">Submit</button>
            <p class="terms">By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.</p>
            <div class="clear"></div>
        </form>
    </div>
</div>
<div style="background-color: rgb(116,176,200);width: 100%;height: 50px;margin-top: 100px">
    <h3>

    </h3>
</div>

<div id="foot">
    <div id="foot-1">
        <h1>PARKnSHOP</h1>
    </div>
    <div id="foot-left">
        <h2>About Us</h2>
        <ul>
            <li>About PARknSHOP</li>
            <li>Quality appraisal department</li>
            <li>Corporate social responsibility</li>
            <li>General problems</li>
            <li>Privacy policy</li>
            <li>Online shopping terms and conditions</li>
            <li>Free statement</li>
            <li>Corporate Information</li>
        </ul>

    </div>
    <div id="foot-center">
        <h2>Online Shopping</h2>
        <ul>
            <li>Online shopping guide</li>
            <li>Delivery service</li>
            <li>Payment method</li>
            <li>Refund / Return Guarantee</li>
        </ul>
    </div>
    <div id="foot-right">
        <h2>Contact Us</h2>
        <p>
            If you have any problems, please contact us by email or phone.
        </p>
        <p>
            phone:137-7207-7200.
        </p>
        <p>
            email:870953206@qq.com
        </p>
    </div>

</div>
<div id="footer-bottom">
    <p >@2017 by fifth team</p>
</div>
</body>
</html>