<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/style_user.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/form_user.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery1.min_user.js"></script>
    <!-- start menu -->
    <link href="/css/foot.css" rel="stylesheet"type="text/css" media="all">
    <link th:href="'css/foot.css'" rel="stylesheet" type="text/css" media="all">
    <link href="/css/megamenu_user.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/megamenu_user.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <!--start slider -->
    <link rel="stylesheet" href="/css/fwslider_user.css" media="all">
    <script src="/js/jquery-ui.min_user.js"></script>
    <script src="/js/css3-mediaqueries_user.js"></script>
    <script src="/js/fwslider_user.js"></script>
    <!--end slider -->
    <script src="/js/jquery.easydropdown_user.js"></script>

</head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="header-top-left">
            <div class="box">

            </div>
            <div class="box1">

            </div>
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul th:if = "${UserID == -1 || UserID == null}">
                <li><a th:href="@{/User/login.html}">Log In</a></li> |
                <li><a th:href="@{/User/register.html}">Sign Up</a></li>
            </ul>
            <ul th:if = "${UserID != -1 && UserID != null}">
                <li><a th:text="${UserName}">UserName</a></li> |
                <li><a th:href="@{/signout}">Log Out</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="/homepage"><img src="/images/logo.png" alt=""/></a><!--photo cant see clear-->
            </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a href="/homepage">Home</a></li>
                    <!--此处为商品目录，信息自己修改-->
                    <li><a class="color4" href="/">Category</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <!--更改目录-->
                                    <div class="h_nav">
                                        <h4>Electronic</h4>
                                        <ul>
                                            <li><a th:href="@{'/search/type?producttype=TV&UserID='+${UserID}}">TV</a>
                                                <a th:href="@{'/search/type?producttype=HomeTheater&UserID='+${UserID}}">HomeTheater</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Computers&UserID='+${UserID}}">Computers</a>
                                                <a th:href="@{'/search/type?producttype=Tables&UserID='+${UserID}}">Tables</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=CellPhones&UserID='+${UserID}}">CellPhones</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Camera&UserID='+${UserID}}">Camera</a>
                                                <a th:href="@{'/search/type?producttype=Camcorders&UserID='+${UserID}}">Camcorders</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Audio&UserID='+${UserID}}">Audio</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=CarElectronics&UserID='+${UserID}}">CarElectronics</a>
                                                <a th:href="@{'/search/type?producttype=GPS&UserID='+${UserID}}">GPS</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Video&UserID='+${UserID}}">Video</a>
                                                <a th:href="@{'/search/type?producttype=Game&UserID='+${UserID}}">Game</a>
                                                <a th:href="@{'/search/type?producttype=Movie&UserID='+${UserID}}">Movie</a>
                                                <a th:href="@{'/search/type?producttype=Music&UserID='+${UserID}}">Music</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Health</h4>
                                        <ul>
                                            <li><a th:href="@{'/search/type?producttype=Health&UserID='+${UserID}}">Health</a>
                                                <a th:href="@{'/search/type?producttype=Fintiness&UserID='+${UserID}}">Fintiness</a>
                                                <a th:href="@{'/search/type?producttype=Sports&UserID='+${UserID}}">Sports</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Office</h4>
                                        <ul>
                                            <li><a th:href="@{'/search/type?producttype=Home&UserID='+${UserID}}">Home</a>
                                                <a th:href="@{'/search/type?producttype=Office&UserID='+${UserID}}">Office</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color5" th:href="@{'/History?UserID='+${UserID}}">History</a></li>
                    <li><a class="color6" th:href="@{'/ShoppingCartInHome?UserID='+${UserID}}">Cart</a></li>
                    <li><a class="color7" th:href="@{'/FavoriteInHome?UserID='+${UserID}}">Favorite</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-bottom-right">
        <div class="search">
            <form th:action="@{/search/name}" method="get">
                <input type="text" name="productname">
                <input type="hidden" name="UserID" placeholder="Search" th:value="${UserID}" style="display: none" />
                <input class="button" type="submit" value="Search" name="save">
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="mens">
    <div class="main">
        <div class="wrap">
            <!-- 商铺图片，名称与加入收藏夹按钮 -->
            <div class="cont span_2_of_3">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <!-- shop- photo -->
                                <img class="a" th:src="@{${seller.sculpture}}" width="450" height="200" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc1 span_3_of_2">
                    <h3 class="m_3" th:text="${seller.shopname}">sellerName</h3>
                    <div class="btn_form">
                        <form th:action="@{/AddIntoFavoriteS}" method="post">
                            <!--加入收藏夹-->
                            <input type="hidden" name="UserID" th:value="${UserID}" style="display: none">
                            <input type="hidden" name="SellerID" th:value="${seller.sellerId}" style="display: none">
                            <input type="submit" value="addintofavorite" title="">
                        </form>
                    </div>
                </div>
                <div class="clear"></div>
                <script type="text/javascript">
                    $(window).load(function() {
                        $("#flexiselDemo1").flexisel();
                        $("#flexiselDemo2").flexisel({
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint:768,
                                    visibleItems: 3
                                }
                            }
                        });

                        $("#flexiselDemo3").flexisel({
                            visibleItems: 5,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint:768,
                                    visibleItems: 3
                                }
                            }
                        });

                    });
                </script>
                <script type="text/javascript" src="/js/jquery.flexisel_user.js"></script>
            </div>
        </div>

    </div>
</div>
</div>


<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                <h2 class="head">Shop's Products</h2>

                <div class="top-box" th:if="${not pro_isnull}">

                    <th:block th:each="adv : ${products}">
                        <div class="col_1_of_3 span_1_of_3">
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <a target="_blank" th:href="@{'/product?productId='+${adv.productId}+'&UserID='+${UserID}}">
                                        <img th:src="@{${adv.productPhoto}}" alt="fail load pics" width="280" height="300"/>
                                    </a>
                                </div>
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title" th:text="${adv.productName}"></p>
                                        <div class="price1">
                                            <span class="actual" th:text="'HK$ '+${adv.productPrice}"></span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="border: 1px solid white;width: 100%;float: left;margin-top: 100px"></div>
<div style="background-color: rgb(116,176,200);width: 100%;height: 50px;margin-top: 100px;float: left"></div>

<div id="foot" >
    <div id="foot-1">
        <h1>PARKnSHOP</h1>
    </div>
    <div id="foot-left">
        <h2>About Us</h2>
        <ul>
            <li>About PARknSHOP</li>
            <li>Quality appraisal department</li>
            <li>Corporate social responsibility</li>
            <li>General problems</li>
            <li>Privacy policy</li>
            <li>Online shopping terms and conditions</li>
            <li>Free statement</li>
            <li>Corporate Information</li>
        </ul>

    </div>
    <div id="foot-center">
        <h2>Online Shopping</h2>
        <ul>
            <li>Online shopping guide</li>
            <li>Delivery service</li>
            <li>Payment method</li>
            <li>Refund / Return Guarantee</li>
        </ul>
    </div>
    <div id="foot-right">
        <h2>Contact Us</h2>
        <p>
            If you have any problems, please contact us by email or phone.
        </p>
        <p>
            phone:137-7207-7200.
        </p>
        <p>
            email:870953206@qq.com
        </p>
    </div>

</div>
<div id="footer-bottom" style="float: left;width: 100%">
    <p >@2017 by fifth team</p>
</div>
</body>
</html>


