<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Free Leoshop Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="'css/style_user.css'" rel="stylesheet" type="text/css" media="all" />
    <link th:href="'css/form_user.css'" rel="stylesheet" type="text/css" media="all" />
    <link th:href="'http://fonts.googleapis.com/css?family=Exo+2'" rel='stylesheet' type='text/css'>
    <script type="text/javascript" th:src="'js/jquery1.min_user.js'"></script>
    <!-- start menu -->
    <link th:href="'css/megamenu_user.css'" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="'js/megamenu_user.js'"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <!--start slider -->
    <link rel="stylesheet" th:href="'css/fwslider_user.css'" media="all">
    <script th:src="'js/jquery-ui.min_user.js'"></script>
    <script th:src="'js/css3-mediaqueries_user.js'"></script>
    <script th:src="'js/fwslider_user.js'"></script>
    <!--end slider -->
    <script th:src="'js/jquery.easydropdown_user.js'"></script>
    <style type="text/css">
    body{
        text-align: center;
    }
    button{
        outline: none;
        margin: 5px;
        border: none;
        font-size: 20px;
        color: #0AA5E2;
    }
    </style>
</head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="header-top-left">
            <div class="box">
            </div>
            <div class="box1">
            </div>
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>

                <li><a th:text="${UserName}">UserName</a></li> |
                <li><a href="register.html">Sign Up</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="homepage1.html"><img src="./images/logo.png" alt=""/></a>
            </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a th:href="@{'/User/Main?UserID='+${UserID}}">Home</a></li>
                    <!--此处为商品目录，信息自己修改-->
                    <li><a class="color4" href="#">Category</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <!--更改目录-->
                                    <div class="h_nav">
                                        <h4>Electronic</h4>
                                        <ul>
                                            <li><a th:href="@{'/search/type?producttype=TV&UserID='+${UserID}}">TV</a>
                                                <a th:href="@{'/search/type?producttype=HomeTheater&UserID='+${UserID}}">HomeTheater</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Computers&UserID='+${UserID}}">Computers</a>
                                                <a th:href="@{'/search/type?producttype=Tables&UserID='+${UserID}}">Tables</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=CellPhones&UserID='+${UserID}}">CellPhones</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Camera&UserID='+${UserID}}">Camera</a>
                                                <a th:href="@{'/search/type?producttype=Camcorders&UserID='+${UserID}}">Camcorders</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Audio&UserID='+${UserID}}">Audio</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=CarElectronics&UserID='+${UserID}}">CarElectronics</a>
                                                <a th:href="@{'/search/type?producttype=GPS&UserID='+${UserID}}">GPS</a>
                                            </li>
                                            <li><a th:href="@{'/search/type?producttype=Video&UserID='+${UserID}}">Video</a>
                                                <a th:href="@{'/search/type?producttype=Game&UserID='+${UserID}}">Game</a>
                                                <a th:href="@{'/search/type?producttype=Movie&UserID='+${UserID}}">Movie</a>
                                                <a th:href="@{'/search/type?producttype=Music&UserID='+${UserID}}">Music</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Health</h4>
                                        <ul>
                                            <li><a href="category.html">Health, Fintiness & Sports</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Office</h4>
                                        <ul>
                                            <li><a href="category.html">Home & Office</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a class="color5" th:href="@{'/MyOrder?UserID='+${UserID}}">History</a></li>
                    <li><a class="color6" th:href="@{'/MyShoppingCart?UserID='+${UserID}}">Cart</a></li>
                    <li><a class="color7" th:href="@{'/MyFavorite?UserID='+${UserID}}">Favorite</a></li>
                </ul>
            </div>
        </div>
        <div class="header-bottom-right">
            <div class="search">
                <form th:action="@{/search/name}" method="get">
                    <input type="text" name="productname" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="hidden" name="UserID" th:value="${UserID}" style="display: none" />
                    <input type="submit" value="Subscribe" id="submit" name="submit">
                </form>
                <div id="response"> </div>
            </div>
            <div class="tag-list">
                <ul class="icon1 sub-icon1 profile_img">
                    <li><a class="active-icon c1" href="#"> </a>
                        <ul class="sub-icon1 list">
                            <li><h3>sed diam nonummy</h3><a href=""></a></li>
                            <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                        </ul>
                    </li>
                </ul>
                <ul class="icon1 sub-icon1 profile_img">
                    <li><a class="active-icon c2" href="#"> </a>
                        <ul class="sub-icon1 list">
                            <li><h3>No Products</h3><a href=""></a></li>
                            <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                        </ul>
                    </li>
                </ul>
                <ul class="last"><li><a href="#">Cart(0)</a></li></ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div>
    <form th:action="@{/uploadAmount}" method="post">
        <input type="hidden" style="display: none" name="UserID" th:value="${UserID}" ><br/>
        <input type="hidden" style="display: none" name="ShoppingCartID" th:value="${ShoppingCartID}" ><br/>
        <input type="number" name="Amount" th:value="${Amount}" ><br/>
        <button type="submit" name="save" th:value="提交" >upload</button>
    </form>
</div>