<!--添加产品的界面-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>AddProduct</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
</head>
<body class="cbp-spmenu-push-toleft " >


<p>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</p>


<div class="container">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>导航</h3>
        <form name="form1" th:action="@{/Seller/FastJump}" method="get">

            <button  name="action" value="ModifySellerAdvertisement" >ModifyAdvertisement</button>
            <button  name="action" value="ModifySellerInformation" >ModifySellerInformation</button>
            <button  name="action" value="ViewIncome" >ViewIncome</button>
            <button  name="action" value="ViewTransaction">ViewTransaction</button>
            <button  name="action" value="ProductsManagement">ProductsManagement</button>
            <input type="hidden" name="SellerID" th:value="*{SellerID}" />

        </form>

    </nav>

    <div class="text-center">


        <h1>AddProductPage</h1>


    </div>
    </br>

    <div class="row">
        <div class="col-lg-6 col-md-2">

            <form th:action="@{/Seller/AddProduct/ReturnBack}" method="get">
                <button type="submit" class="btn-default">return Back</button>

            </form>
        </div>

        <div class="col-lg-6 col-md-2 text-right">

            <section >

                <button id="showLeftPush" class="btn-default">快捷导航</button>

            </section>
        </div>

        </br></br></br></br>

    </div>
<br>
    <br>
    <div class="row col-lg-8" >
        <form role="form" class="form-horizontal" th:action="@{/Seller/AddProduct/AddProduct}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="SellerID" th:value="*{SellerID}" />
            <input type="hidden" name="ProductID" th:value="*{ProductID}" />

            <div class="form-group">
                <label class="col-lg-5 text-right">productName:</label>
                <div class="col-lg-3">
                <input type="text" class="form-control" name="productName" th:value="*{productName}"></input>
            </div>
            </div>

            <div class="form-group ">
            <label class="col-lg-5 text-right">productStock:</label>
                <div class="col-lg-3">
                <input type="text" class="form-control" name="productStock" th:value="*{productStock}"></input></p>
                </div>
                </div>

            <div class="from-group">
            <label class="col-lg-5 text-right">brandName:</label>
                <div class="col-lg-3">
                <input type="text" class="form-control" name="brandName" th:value="*{brandName}"></input>
                </div>
            </div>
    <br>
            <br>

            <div class="form-group">
              <label class="col-lg-5 text-right">productPhoto:</label>
                <div class="col-lg-3">
                    <input type="file" id="productPhoto" name="productPhotoFile" ></input>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 text-right">productMarketPrice:</label>
                <div class="col-lg-3">
                <input type="text" class="form-control" name="productPrice" th:value="*{productPrice}"></input>
                </div>
            </div>
            <div class="form-group">

              <label class="col-lg-5 text-right">productBriefInfo:</label>
                <div class="col-lg-3">
                <textarea class="form-control" rows="3" id="productBriefInfo" name="productBriefInfo" th:value="*{productBriefInfo}"></textarea>
                </div>
                </div>
            <br>
            <table class="table table-striped" id="otherAttributes">
                <tr>
                    <button type="button" class="btn-default" onclick="addNewAttr()">addNewAttr</button>
                </tr>
                <tr>
                    <th>attrName</th>
                    <th>attrValue</th>
                    <th>modify</th>
                    <th>delete</th>
                </tr>
            </table>

            <div class="row text-center">
                <button type="submit" class="btn-default" >OK</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 text-left">
        <img id="photo" th:src="${productPhoto}" alt="nothing here" height="300" width="500" style="display: block;" />
    </div>
</div>

<br />

<script>

    var fileInput = document.getElementById('productPhoto'),
        photo = document.getElementById('photo');

    fileInput.addEventListener('change', function () {
        photo.src = "";
        if(!fileInput.value)
        {
            alert("not input image!");
            return;
        }

        var file = fileInput.files[0];

        if(file.type != "image/jpeg")
            if( file.type != "image/png")
                if(file.type != "image/gif")
                {
                    alert("不是有效的图片文件!");
                    return;
                }

        var reader = new FileReader();

        reader.onload = function (e) {
            photo.src = e.target.result;
        }

        reader.readAsDataURL(file);

    });

    var index = 1;
    var attrs = document.getElementById('otherAttributes')
    info = document.getElementById('productBriefInfo');

    var updateBriefInfo = function () {
        var obj = {};
        var attrs = document.getElementById('otherAttributes');
        var len = attrs.rows.length;
        if(len > index)
        {
            index = len;
        }
        else
            len = index;

        console.log(attrs);
        for(var i =1; len>i; i++)
        {
            var attrName = document.getElementById('attribute'+i),
                attrValue = document.getElementById('value'+i);
            if(attrName != null )
                if(attrValue != null)
                {
                    if(attrValue.value == "" || attrName.value == "")
                    {
                        alert("value not be empty");
                        return;
                    }
                    obj[attrName.value] = attrValue.value;
                }

        }
        console.log(obj);
        var briefInfo = document.getElementById('productBriefInfo');
        briefInfo.value = JSON.stringify(obj);
    }

    var deleteBtn =  function(name) {

        var tr = document.getElementById('otherAttributes'+name);
        tr.remove();
        updateBriefInfo();
        return false;

    }

    var modify = function (name) {
        updateBriefInfo();
        return false;
    }

    var addNewAttr = function () {
        var tr = attrs.insertRow();
        tr.id = "otherAttributes" + index;
        var td1 = tr.insertCell(0),
            td2 = tr.insertCell(1),
            td3 = tr.insertCell(2),
            td4 = tr.insertCell(3);
        td1.innerHTML = '<td><input id = "attribute' +index + '" value= "input attribute" ></input></td>';
        td2.innerHTML = '<td><input id = "value' +index  + '" value= "input value"></input></td>';
        td3.innerHTML = '<td>' + '<button id="addNewAttr'+ index  + '" name="'+ index +'" onclick="addNewAttrOk(id,name)"  type="button">add</button></td>';
        td4.innerHTML = '<td>' + '<button name="'+ index  + '" onclick="deleteBtn(name)" type="button" >delete</button></td>';
        index++;
    }

    var addNewAttrOk = function (id, name) {
        var btn = document.getElementById(id);
        console.log(btn);
        btn.innerText = "modify";
        btn.onclick = modify;
        updateBriefInfo();
    }



</script>






<script src="/js/classie.js"></script>
<script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),

        showLeftPush = document.getElementById( 'showLeftPush' ),

        body = document.body;


    showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
    };


    function disableOther( button ) {

        if( button !== 'showLeftPush' ) {
            classie.toggle( showLeftPush, 'disabled' );
        }

    }
</script>
<script>

    var fileInput = document.getElementById('productPhoto'),
        photo = document.getElementById('photo');

    var BASEPATH = 'C:\\Users\\87095\\Desktop\\ShopWeb_xidianSS14_05\\src\\main\\resources\\static';
    fileInput.addEventListener('change', function () {
        photo.src = "";
        if(!fileInput.value)
        {
            alert("not input image!");
            return;
        }

        var file = fileInput.files[0];

        if(file.type != "image/jpeg")
            if( file.type != "image/png")
                if(file.type != "image/gif")
                {
                    alert("不是有效的图片文件!");
                    return;
                }

        var reader = new FileReader();

        reader.onload = function (e) {
            photo.src = e.target.result;
          //  var fso = new ActiveXObject("Scripting.FileSystemObject");
           // var f = fso.GetFile(e.target.result);
            //f.Copy('C:\\Users\\87095\\Desktop\\ShopWeb_xidianSS14_05\\src\\main\\resources\\static' + GetRandomNum() + file.name);
            reader.readAsDataURL(file);
        }
    });

    var index = 1;
    var attrs = document.getElementById('otherAttributes')
    info = document.getElementById('productBriefInfo');

    var updateBriefInfo = function () {
        var obj = {};
        var attrs = document.getElementById('otherAttributes');
        var len = attrs.rows.length;
        if(len > index)
        {
            index = len;
        }
        else
            len = index;

        console.log(attrs);
        for(var i =1; len>i; i++)
        {
            var attrName = document.getElementById('attribute'+i),
                attrValue = document.getElementById('value'+i);
            if(attrName != null )
                if(attrValue != null)
                {
                    if(attrValue.value == "" || attrName.value == "")
                    {
                        alert("value not be empty");
                        return;
                    }
                    obj[attrName.value] = attrValue.value;
                }

        }
        console.log(obj);
        var briefInfo = document.getElementById('productBriefInfo');
        briefInfo.value = JSON.stringify(obj);
    }

    var deleteBtn =  function(name) {

        var tr = document.getElementById('otherAttributes'+name);
        tr.remove();
        updateBriefInfo();
        return false;

    }

    var modify = function (name) {
        updateBriefInfo();
        return false;
    }

    var addNewAttr = function () {
        var tr = attrs.insertRow();
        tr.id = "otherAttributes" + index;
        var td1 = tr.insertCell(0),
            td2 = tr.insertCell(1),
            td3 = tr.insertCell(2),
            td4 = tr.insertCell(3);
        td1.innerHTML = '<td><input id = "attribute' +index + '" value= "input attribute" ></input></td>';
        td2.innerHTML = '<td><input id = "value' +index  + '" value= "input value"></input></td>';
        td3.innerHTML = '<td>' + '<button id="addNewAttr'+ index  + '" name="'+ index +'" onclick="addNewAttrOk(id,name)"  type="button">add</button></td>';
        td4.innerHTML = '<td>' + '<button name="'+ index  + '" onclick="deleteBtn(name)" type="button" >delete</button></td>';
        index++;
    }

    var addNewAttrOk = function (id, name) {
        var btn = document.getElementById(id);
        console.log(btn);
        btn.innerText = "modify";
        btn.onclick = modify;
        updateBriefInfo();
    }


    function GetRandomNum()
    {
        var Range = 999999999;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }

</script>


</body>
</html>