<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
    <style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        width: 250px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    .button1 {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
</style>
</head>
<body>
<div class="header">header</div>
<div class="content">

    <p>
        <input type="hidden" name="SellerID" th:value="*{SellerID}" />
    </p>
    <div class="col-lg-2">
        <div id="wrapper">
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">

                    </li>
                    <li>
                        <a th:href="@{/Seller/FastJump/ProductsManagementHandler}"><i class="fa fa-fw fa-map-signs"></i>Product Management</a>
                    </li>
                    <li>
                        <a th:href="@{/Seller/FastJump/ModifySellerAdvertisementHandler}"><i class="fa fa-fw fa-adn"></i>Ads Management</a>
                    </li>
                    <li>
                        <a th:href="@{/Seller/FastJump/ViewIncomeHandler}"><i class="fa fa-fw fa-folder"></i>Income Management</a>
                    </li>
                    <li>
                        <a th:href="@{/Seller/FastJump/ViewTransactionHandler}"><i class="fa fa-fw fa-clipboard"></i>Order Management</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="col-lg-10">
        <div class="row">
            <br><br>

            <p>
                <input type="hidden" name="SellerID" th:value="*{SellerID}" />
            </p>

            <div class="row col-lg-8">
                <form role="form" class="form-horizontal" th:action="@{/Seller/AddProduct/AddProduct}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
                    <input type="hidden" name="ProductID" th:value="*{ProductID}" />

                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Name:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="productName" th:value="*{productName}"/>
                        </div>
                    </div>

                    <div class="from-group">
                        <label class="col-lg-4 text-right">Catogery: </label>
                        <div class="col-lg-4">
                       <form role="form">
                                <div class="form-group">
                                    <select class="form-control" name="brandName">
                                        <option value="TV & Home Theater">TV & Home Theater</option>
                                        <option value="Computers & Tablets">Computers & Tablets</option>
                                        <option value="Cell Phones">Cell Phones</option>
                                        <option value="Cameras & Camcorders">Cameras & Camcorders</option>
                                        <option value="Audio">Audio</option>
                                        <option value="Car Electronics & GPS">Car Electronics & GPS</option>
                                        <option value="Video, Games, Movies & Music">Video, Games, Movies & Music</option>
                                        <option value="Health, Fitness & Sports">Health, Fitness & Sports</option>
                                        <option value="Home & Office">Home & Office</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br><br>

                    <div class="form-group ">
                        <label class="col-lg-4 text-right">Product Stock:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="productStock" th:value="*{productStock}"/></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Photo:</label>
                        <div class="col-lg-3">
                            <input type="file" id="productPhoto" name="productPhotoFile" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Market Price:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="productPrice" th:value="*{productPrice}"/>
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-lg-4 text-right">Product Brief Information:</label>
                        <div class="col-lg-3">
                            <textarea class="form-control" rows="3" id="productBriefInfo" name="productBriefInfo" th:value="*{productBriefInfo}"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Attribute:</label>
                        <div class="col-lg-8">
                    <table class="table table-striped" id="otherAttributes" style="width: auto">
                        <tr>
                            <button type="button" class="btn-default" style="background:#9acfea" onclick="addNewAttr()">addNewAttr</button>
                        </tr>
                        <tr>
                            <th>Attribute Name</th>
                            <th>AttributeValue</th>
                            <th>Modify</th>
                            <th>Delete</th>
                        </tr>
                    </table>
                        </div>
                    </div>

                    <div class="row text-center">
                        <button  class="button button1">Submit</button>
                    </div>
                    <br><br><br><br>
                </form>
            </div>
            <div class="col-lg-2 text-left">
                <img id="photo" th:src="${productPhoto}" alt="nothing here" height="300" width="500" style="display: block;" />
            </div>

        </div>

    </div>
</div>
</div>
<div class="footer"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" th:text="${adminUserName}"></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/Seller/FastJump/ModifySellerInformationHandler}">Personal Infomation</a></li>
                <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height: 50px" onclick="Logout">
                    Log out
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Sure to Log Out
                                </h4>
                            </div>
                            <div class="modal-body" >
                                Log Out
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                </button>
                                <a href="/Seller/login"><button type="button" class="btn btn-primary">
                                    Sure
                                </button></a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
</nav>

<script>

    var fileInput = document.getElementById('productPhoto'),
        photo = document.getElementById('photo');

    fileInput.addEventListener('change', function () {
        photo.src = "";
        if(!fileInput.value)
        {
            alert("not input image!");
            return;
        }

        var file = fileInput.files[0];

        if(file.type != "image/jpeg")
            if( file.type != "image/png")
                if(file.type != "image/gif")
                {
                    alert("Not a valid image file!");
                    return;
                }

        var reader = new FileReader();

        reader.onload = function (e) {
            photo.src = e.target.result;
        }
        reader.readAsDataURL(file);
    });

    var index = 1;
    var attrs = document.getElementById('otherAttributes')
    info = document.getElementById('productBriefInfo');

    var updateBriefInfo = function () {
        var obj = {};
        var attrs = document.getElementById('otherAttributes');
        var len = attrs.rows.length;
        if(len > index)
        {
            index = len;
        }
        else
            len = index;

        console.log(attrs);
        for(var i =1; len>i; i++)
        {
            var attrName = document.getElementById('attribute'+i),
                attrValue = document.getElementById('value'+i);
            if(attrName != null )
                if(attrValue != null)
                {
                    if(attrValue.value == "" || attrName.value == "")
                    {
                        alert("value not be empty");
                        return;
                    }
                    obj[attrName.value] = attrValue.value;
                }

        }
        console.log(obj);
        var briefInfo = document.getElementById('productBriefInfo');
        briefInfo.value = JSON.stringify(obj);
    }

    var deleteBtn =  function(name) {

        var tr = document.getElementById('otherAttributes'+name);
        tr.remove();
        updateBriefInfo();
        return false;

    }

    var modify = function (name) {
        updateBriefInfo();
        return false;
    }

    var addNewAttr = function () {
        var tr = attrs.insertRow();
        tr.id = "otherAttributes" + index;
        var td1 = tr.insertCell(0),
            td2 = tr.insertCell(1),
            td3 = tr.insertCell(2),
            td4 = tr.insertCell(3);
        td1.innerHTML = '<td><input id = "attribute' +index + '" value= "input attribute" ></input></td>';
        td2.innerHTML = '<td><input id = "value' +index  + '" value= "input value"></input></td>';
        td3.innerHTML = '<td>' + '<button id="addNewAttr'+ index  + '" name="'+ index +'" onclick="addNewAttrOk(id,name)"  type="button">add</button></td>';
        td4.innerHTML = '<td>' + '<button name="'+ index  + '" onclick="deleteBtn(name)" type="button" >delete</button></td>';
        index++;
    }

    var addNewAttrOk = function (id, name) {
        var btn = document.getElementById(id);
        console.log(btn);
        btn.innerText = "modify";
        btn.onclick = modify;
        updateBriefInfo();
    }


    function GetRandomNum()
    {
        var Range = 999999999;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }

</script>

</body>
</html>