<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
    <style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        width: 250px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    .button1 {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
</style>
</head>
<body>
<div class="header">header</div>
<div class="content">

    <p>
        <input type="hidden" name="SellerID" th:value="*{SellerID}" />
    </p>
    <div class="col-lg-2">
        <div id="wrapper">
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">

                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ProductsManagementHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-map-signs"></i>Product Management</a>
                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ModifySellerAdvertisementHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-adn"></i>Ads Management</a>
                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ViewIncomeHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-folder"></i>Income Management</a>
                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ViewTransactionHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-clipboard"></i>Order Management</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="col-lg-10">
        <div class="row">
            <br><br>

            <p>
                <input type="hidden" name="SellerID" th:value="*{SellerID}" />
            </p>

            <div class="row col-lg-8">
                <form role="form" class="form-horizontal" onsubmit="return checkVaild()" th:action="@{/Seller/AddProduct/AddProduct}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
                    <input type="hidden" name="ProductID" th:value="*{ProductID}" />

                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Name:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="productName" name="productName" th:value="*{productName}"/>
                        </div>
                    </div>

                    <div class="from-group">
                        <label class="col-lg-4 text-right">Catogery: </label>
                        <div class="col-lg-4">
                       <form role="form">
                                <div class="form-group">
                                    <select class="form-control" name="brandName">
                                        <option value="TV">TV</option>
                                        <option value="HomeTheater">Home Theater</option>
                                        <option value="Computers">Computers</option>
                                        <option value="Tablets">Tablets</option>
                                        <option value="CellPhones">Cell Phones</option>
                                        <option value="Camera">Cameras</option>
                                        <option value="Camcorders">Camcorders</option>
                                        <option value="Audio">Audio</option>
                                        <option value="CarElectronics">Car Electronics</option>
                                        <option value="GPS">GPS</option>
                                        <option value="Video">Video</option>
                                        <option value="Games">Games</option>
                                        <option value="Movies">Movies</option>
                                        <option value="Music">Music</option>
                                        <option value="Health">Health</option>
                                        <option value="Fitness">Fitness</option>
                                        <option value="Sports">Sports</option>
                                        <option value="Home">Home</option>
                                        <option value="Office">Office</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br><br><br><br>

                    <div class="form-group ">
                        <label class="col-lg-4 text-right">Product Stock:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="productStock" name="productStock" th:value="*{productStock}"/></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Photo:</label>
                        <div class="col-lg-3">
                            <input type="file" id="productPhoto" name="productPhotoFile" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 text-right">Product Market Price:</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="productPrice" name="productPrice" th:value="*{productPrice}"/>
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-lg-4 text-right">Product Brief Information:</label>
                        <div class="col-lg-3">
                            <textarea class="form-control" rows="3" id="productBriefInfo" name="productBriefInfo" th:value="*{productBriefInfo}"></textarea>
                        </div>
                    </div>
                    <br>


                    <div class="row text-center">
                        <button type="submit" class="button button1">Submit</button>
                    </div>
                    <br><br><br><br>
                </form>
            </div>
            <div class="col-lg-2 text-left">
                <img id="photo" th:src="${productPhoto}" alt="nothing here" height="300" width="500" style="display: block;" />
            </div>

        </div>

    </div>
</div>
</div>
<div class="footer"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" th:text="${adminUserName}"></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{'/Seller/FastJump/ModifySellerInformationHandler?SellerID='+${SellerID}}">Personal Infomation</a></li>
                <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height: 50px" onclick="Logout">
                    Log out
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Sure to Log Out
                                </h4>
                            </div>
                            <div class="modal-body" >
                                Log Out
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                </button>
                                <a href="/Seller/login"><button type="button" class="btn btn-primary">
                                    Sure
                                </button></a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
</nav>

<script>

    var productname = document.getElementById("productName");
    var productStock = document.getElementById("productStock");
    var productPhotoFile = document.getElementById("productPhoto");
    var productPrice = document.getElementById("productPrice");
    var productBriefInfo = document.getElementById("productBriefInfo");

    function checkVaild() {
        console.log(productStock.value);
        console.log(productname.value);
        console.log(productPhotoFile.value);
        console.log(productPrice.value);
        console.log(productBriefInfo.value);
        if(productname.value == "" || productBriefInfo.value == "" || productPrice == "" ||
        productStock.value == "" || productPhotoFile.value=="")
        {
            alert("input not allow empty!");
            return false;
        }

        if(parseFloat(productStock.value).toString() == "NaN")
        {
            alert("stock not number");
            return false;
        }

        if(parseFloat(productPrice.value) .toString() == "NaN")
        {
            alert("price not number ");
            return false;
        }
        if(parseFloat(productStock.value) < 0)
        {
            alert("stock not allow < 0 ");
            return false;
        }

        if(parseFloat(productPrice.value) <= 0)
        {
            alert("price not allow < 0 ");
            return false;
        }

        return true;

    }

    var fileInput = document.getElementById('productPhoto'),
        photo = document.getElementById('photo');

    fileInput.addEventListener('change', function () {
        photo.src = "";
        if(!fileInput.value)
        {
            alert("not input image!");
            return;
        }

        var file = fileInput.files[0];

        if(file.type != "image/jpeg")
            if( file.type != "image/png")
                if(file.type != "image/gif")
                {
                    alert("Not a valid image file!");
                    return;
                }

        var reader = new FileReader();

        reader.onload = function (e) {
            photo.src = e.target.result;
        }
        reader.readAsDataURL(file);
    });







</script>

</body>
</html>