<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>AdsManagement</title>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" th:href="'/css/style.css'">
    <script th:src="'/js/index.js'"></script>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            width: 250px;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }

        .button1 {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
<div class="header">header</div>
<div class="content">

    <div class="col-lg-2">
        <div id="wrapper">
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">

                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ProductsManagementHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-map-signs"></i>Product Management</a>
                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ModifySellerAdvertisementHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-adn"></i>Ads Management</a>
                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ViewIncomeHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-folder"></i>Income Management</a>
                    </li>
                    <li>
                        <a th:href="@{'/Seller/FastJump/ViewTransactionHandler?SellerID='+${SellerID}}"><i class="fa fa-fw fa-clipboard"></i>Order Management</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="col-lg-10">
        <br><br><br><br>
        <div class="row col-lg-8">
            <form role="form" class="form-horizontal" th:action="@{/Seller/ModifySellerAdvertisement/ModifyAdvertisement}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="SellerID" th:value="*{SellerID}" />
                <input type="hidden" name="ProductID" th:value="*{ProdcutID}"/>
                <input type="hidden" name="ProductAdvertisement" th:value="*{ProductAdvertisement}"/>
                <input type="hidden" name="SellerAdvertisement" th:value="*{SellerAdvertisement}"/>
                <input type="hidden" name="AddOrModify" id="AddOrModify" th:value="*{AddOrModify}"/>
                <input type="hidden" name="IsProductAdvertisement" id="IsProductAdvertisement" th:value="*{IsProductAdvertisement}"/>

                <input type="hidden" name="status" id="status" th:value="${status}" />

                <div class="form-group">
                    <label class="col-lg-5 text-right">Advertisement Type:</label>
                    <div class="col-lg-3" id="advertisementTypeDiv">
                        <select name="advertisementType" id="advertisementType" onchange="selectAdverType(this.value)">
                            <option value="1">Product Advertisement</option>
                            <option value="2">Shop Advertisement</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="productIDDiv">
                    <label class="col-lg-5 text-right">Product ID:</label>
                    <div class="col-lg-3"  id="productIDSelectDiv">
                        <select name="productIDs" id="productIDSelect">
                            <div th:each="product : ${Products}">
                                <option  th:value="*{product.productId}" th:text="*{product.productName}"></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="locationDiv">
                    <label class="col-lg-5 text-right" >Location Type:</label>
                    <div class="col-lg-3" id="typeSelectDiv">
                        <select name="type"  id="typeSelect">
                            <option value="1">Roll advertisement</option>
                            <option value="2">List advertisement</option>
                        </select>
                    </div>
                </div>

                <div class="from-group">
                    <label class="col-lg-5 text-right">Start Date:</label>
                    <div class="col-lg-3" id="startDateDiv">
                        <input type="date" class="form-control" id="startDate" name="startDate" th:value="*{startDate}"></input>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label class="col-lg-5 text-right">End Date:</label>
                    <div class="col-lg-3" id="endDateDiv">
                        <input type="date" class="form-control" id="endDate" name="endDate" th:value="*{endDate}"></input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-5 text-right">Picture Url:</label>
                    <div class="col-lg-3">
                        <input type="file" id="pictureUrl" name="pictureUrl" ></input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-5 text-right">Description:</label>
                    <div class="col-lg-3">
                        <textarea class="form-control" rows="3" id="description" name="description" th:text="*{description}"></textarea>
                    </div>
                </div>
                <br>

                <div class="row text-center">
                    <button class="button button1" id="submitBtn">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 text-left">
            <img id="photo" th:src="${pictureUrl}" alt="nothing here" height="300" width="500" style="display: block;" />
        </div>

    </div>
</div>
</div>
<div class="footer"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" th:text="${adminUserName}"></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/Seller/FastJump/ModifySellerInformationHandler}">Personal Infomation</a></li>
                <button class="btn-link" data-toggle="modal" data-target="#myModal" style="height: 50px" onclick="Logout">
                    Log out
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Sure to Log Out
                                </h4>
                            </div>
                            <div class="modal-body" >
                                Log Out
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Leave
                                </button>
                                <a href="/Seller/login"><button type="button" class="btn btn-primary">
                                    Sure
                                </button></a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
</nav>

<script>

    var fileInput = document.getElementById('pictureUrl'),
        photo = document.getElementById('photo'),
        selectAdverType = document.getElementById('advertisementType'),
        locationDiv = document.getElementById('locationDiv'),
        productIDDiv = document.getElementById('productIDDiv');


    var selectAdverType = function (value) {
        if(value == 2)
        {
            locationDiv.hidden = true;
            productIDDiv.hidden = true;
        }
        else
        {
            productIDDiv.hidden =false;
            locationDiv.hidden = false;
        }
    };

    fileInput.addEventListener('change', function () {
        photo.src = "";
        if(!fileInput.value)
        {
            alert("not input image!");
            return;
        }

        var file = fileInput.files[0];

        if(file.type != "image/jpeg")
            if( file.type != "image/png")
                if(file.type != "image/gif")
                {
                    alert("Not a valued image file!");
                    return;
                }

        var reader = new FileReader();

        reader.onload = function (e) {
            photo.src = e.target.result;
        }

        reader.readAsDataURL(file);

    });



</script>
</body>
</html>