<!-- Seller Management Main page-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProductManagementMainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>ProductManagementMainPage</h2>
<br /> <br />
<p>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</p>

<!--这里js做的工作如下:修复删除商品的bug,与界面效果无关-->

<!--r返回表单-->
<form th:action="@{/Seller/ProductsManagement/ReturnBack}" method="get">
    <button type="submit">return Back</button>
</form>
<br />

<form th:action="@{/Seller/ProductsManagement/AddProduct}" method="get">
    <button type="submit">Add New Product</button>
</form>

<br />

<!--当前商品表单-->

<form th:action="@{/Seller/ProductsManagement/ProductsHandler}">
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
    <table >
        <tr>
            <th >Name</th>
            <th >MarketPrice</th>
            <th>Stock</th>
            <th >isOnSale</th>
            <th>delete</th>
            <th >modify</th>
        </tr>
        <tr th:each="prod : ${products}">
            <td th:text="${prod.productName}">productName</td>
            <td th:text="${prod.productMarketPrice}">0.0</td>
            <td th:text="${prod.productStock}">0</td>
            <td th:text="${prod.isOnSale}">yes</td>
            <td>
                <button type="submit" name="delete" th:value="${prod.productId}" >delete</button>
            </td>
            <td>
                <button type="submit" name="modify" th:value="${prod.productId}" >modify</button>
            </td>
        </tr>
    </table>

</form>


<br />


<form name="form1" th:action="@{/Seller/FastJump}" method="get">
    <button type="submit" name="action" value="ModifySellerAdvertisement" >ModifySellerAdvertisement</button>
    <button type="submit" name="action" value="ModifySellerInformation" >ModifySellerInformation</button>
    <button type="submit" name="action" value="ViewIncome" >ViewIncome</button>
    <button type="submit" name="action" value="ViewTransaction">ViewTransaction</button>
    <button type="submit" name="action" value="ProductsManagement">ProductsManagement</button>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</form>
</body>
</html>