<!-- Seller Management Main page-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ProductManagementMainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>ProductManagementMainPage</h2>
<br /> <br />
<p>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</p>

<!--r返回表单-->
<form th:action="@{/Seller/ProductsManagement/ReturnBack}" method="get">
    <button type="submit">return Back</button>
</form>
<br />

<form th:action="@{/Seller/ProductsManagement/AddProduct}" method="get">
    <button type="submit">Add New Product</button>
</form>

<br />

<!--当前商品表单-->
<tr>
    <td >Name</td>
    <td >MarketPrice</td>
    <td>Stock</td>
    <td >isOnSale</td>
    <td>delete</td>
    <td >modify</td>
</tr>

<form th:action="@{/Seller/ProductsManagement/ProductsHandler}">
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
    <tr th:each="prod : ${products}">
        <td th:text="${prod.productName}">productName</td><td />
        <td th:text="${prod.productMarketPrice}">0.0</td><td />
        <td th:text="${prod.productStock}">0</td><td />
        <td th:text="${prod.isOnSale}">yes</td><td />
        <button type="submit" name="action" value="delete">delete</button>
        <button type="submit" name="action" value="modify">modify</button>
        <input type="hidden" name="ProductID" th:value="${prod.productId}" />
        <p />
    </tr>
</form>


<br />


<form name="form1" th:action="@{/Seller/FastJump}" method="get">
    <button type="submit" name="action" value="ModifySellerAdvertisement" >ModifySellerAdvertisement</button>
    <button type="submit" name="action" value="ModifySellerInformation" >ModifySellerInformation</button>
    <button type="submit" name="action" value="ViewIncome" >ViewIncome</button>
    <button type="submit" name="action" value="ViewTransaction">ViewTransaction</button>
    <button type="submit" name="action" value="ProductsManagement">ProductsManagement</button>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</form>
</body>
</html>