<!-- Seller Management Main page-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SellerMainPage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>SellerMainPage</h2>
<br /> <br />

<p>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</p>

<!--r返回表单-->
<form th:action="@{/Seller/logout}" method="get">
    <button type="submit">return Back</button>
</form>

<br />
<!--主信息表单-->


<form>
    <textarea th:text="${SellerName}" ></textarea>
    <textarea th:text="${SellerID}"> </textarea>
</form>


<br />


<form name="form1" th:action="@{/Seller/FastJump}" method="get">
    <button type="submit" name="action" value="ModifySellerAdvertisement" >ModifySellerAdvertisement</button>
    <button type="submit" name="action" value="ModifySellerInformation" >ModifySellerInformation</button>
    <button type="submit" name="action" value="ViewIncome" >ViewIncome</button>
    <button type="submit" name="action" value="ViewTransaction">ViewTransaction</button>
    <button type="submit" name="action" value="ProductsManagement">ProductsManagement</button>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</form>
</body>
</html>