<!--查看订单详细界面,基本元素都在里面,应该不需要改动-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>ProductManager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
</head>
<body class="cbp-spmenu-push-toleft">

</br>
<p>
    <input type="hidden" name="SellerID" th:value="*{SellerID}" />
</p>
<div class="container">
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>导航</h3>
        <form name="form1" th:action="@{/Seller/FastJump}" method="get">
            <button  name="action" value="ModifySellerAdvertisement" >ModifyAdvertisement</button>
            <button  name="action" value="ModifySellerInformation" >ModifySellerInformation</button>
            <button  name="action" value="ViewIncome" >ViewIncome</button>
            <button  name="action" value="ViewTransaction">ViewTransaction</button>
            <button  name="action" value="ProductsManagement">ProductsManagement</button>
            <input type="hidden" name="SellerID" th:value="*{SellerID}" />
        </form>
    </nav>
    </br>
    <div class="row">
        <div class="col-lg-4 col-md-2">

            <form th:action="@{/Seller/ViewTransaction/ReturnBack1}" method="get">
                <button type="submit" class="btn-default">return Back</button>
            </form>
        </div>

        <div>
            <section>
                <button id="showLeftPush" class="btn-default">快捷导航</button>
            </section>
        </div>

        </br>
        <div>
           <div>
               <label>userName</label>
               <label th:text="*{userName}"></label>
           </div>
            <div>
                <label>tradePayWay</label>
                <label th:text="*{tradePayWay}"></label>
            </div>
            <div>
                <label>tradeTotalMoney</label>
                <label th:text="*{tradeTotalMoney}"></label>
            </div>
            <div>
                <label>address</label>
                <label th:text="*{address}"></label>
            </div>
            <div>
                <label>feedbackRemarks</label>
                <label th:text="*{feedbackRemarks}"></label>
            </div>
            <div>
                <label>tradeCreateTime</label>
                <label th:text="*{tradeCreateTime}"></label>
            </div>
            <div>
                <label>tradeFinishTime</label>
                <label th:text="*{tradeFinishTime}"></label>
            </div>
            <div>
                <label>tradeStatus</label>
                <label th:text="*{tradeStatus}"></label>
            </div>
        </div>

        <div class="row">
            <form th:action="@{/Seller/ViewTransaction/Detail}">
                <input type="hidden" name="SellerID" th:value="*{SellerID}" />
                <table class="table table-striped">
                    <caption>Recently Trades</caption>
                    <thead>
                    <th>product</th>
                    <th>productAmount</th>
                    <th>productTradePrice</th>
                    <th>productTotlePrice</th>
                    </thead>
                    <tbody id="tradesTable" >
                    <tr th:each="detail:${details}">
                        <td th:text="*{detail.productName}"></td>
                        <td th:text="*{detail.amount}" ></td>
                        <td th:text="*{detail.productPrice}"></td>
                        <td th:text="*{detail.totalPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="/js/classie.js"></script>

</body>
</html>