<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>HomePage</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="'/bootstrap/css/bootstrap.min.css'">
    <script th:src="'/jquery/jquery-3.2.1.min.js'"></script>
    <script th:src="'/bootstrap/js/bootstrap.min.js'"></script>
    <link rel="stylesheet" href="css/GoodsTypeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fsbanner.css"/>
    <link rel="stylesheet" href="/css/zySearch.css" type="text/css" />
    <style type="text/css">
        .ex {
            width: 800px;
            margin: 0 auto;
        }

        .fsbanner {
            margin-top: 10px;
        }
        .carousel {
            height: 500px;
        }
        .carousel .item {
            height: 500px;
        }
        .carousel .item img {
            width: 100%;
        }
    </style>
</head>

<body>
<br>
</br>
<div class="content">
    <div class="row">

        <div class="col-lg-6">
            <a href="/homepage">
                <img src="/parknshop_logo.jpg" alt="logo" class="img-rounded"/>
            </a>
        </div>

        <!-- 搜索按钮-->
      <!--  <div class="col-lg-6">
            <div class="input-group">
                <form role='form' class = "bs-example bs-example-form" th:action="@{/search/name}" method = "GET">
                    <div class="input-group">
                        <input type="text" name="productname" class="form-control"/>
                        <span class="input-group-btn">
                        <button  class="btn btn-default" type="submit" name="save">search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>-->
        <div class="zySearch" id="zySearch" style="text-align:center;"></div><br>
    </div><br>


    <!--导航-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            TV, Home Theater<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=TV">TV</a></li>
                            <li><a href="/search/type?type=HomeTheater">Home Theater</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Computers, Tables<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=Computers">Computers</a></li>
                            <li><a href="/search/type?type=Tables">Tables</a></li>
                        </ul>
                    </li>

                    <li><a href="/search/type?type=CellPhones">Cell Phones</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Cameras, Camcorders<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=Cameras">Cameras</a></li>
                            <li><a href="/search/type?type=Camcorders">Camcorders</a></li>
                        </ul>
                    </li>

                    <li><a href="/search/type?type=Audio">Audio</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Car Electronics, GPS<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=CarElectronics">Car Electronics</a></li>
                            <li><a href="/search/type?type=GPS">GPS</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Video, Games, Movies, Music<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=Video">Video</a></li>
                            <li><a href="/search/type?type=Games">Games</a></li>
                            <li><a href="/search/type?type=Movies">Movies</a></li>
                            <li><a href="/search/type?type=Music">Music</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Health,Fitness, Sports<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=Health">Health</a></li>
                            <li><a href="/search/type?type=Fitness">Fitness</a></li>
                            <li><a href="/search/type?type=Sports">Sports</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Home, Office<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/search/type?type=Home">Home</a></li>
                            <li><a href="/search/type?type=Office">Office</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- 轮播广告 -->
    <div id="LBbox" class="carousel slide" data-ride="carousel">
        <!-- 圆点按钮 -->
        <ol class="carousel-indicators">
            <li data-target="#LBbox" data-slide-to="0" class="active"></li>
            <li data-target="#LBbox" data-slide-to="1"></li>
        </ol>
        <!-- 轮播内容 -->
        <!--<div class="carousel-inner" role="listbox" th:if="${not pro_rollad_isnull}">
            <tr th:each="ProductAdvertisement,ads1:${pro_ads_roll}">
                <div class="item active" th:if="${ads1.first}" >
                    <a target="_blank" th:href="@{'/product/'+${ads1.current.getProductId()}}">
                        <img th:src="${ads1.current.getPictureUrl()} alt="1 slide"/>
                    </a>
                    <div class="carousel-caption">
                        &lt;!&ndash;<h1 th:text="'$'+${ads1.current.getType()}">type</h1>&ndash;&gt;
                        <p th:text="${ads1.current.getDescription()}">description</p>
                    </div>
                </div>
                <div class="item" th:if="${not ads1.first}" >
                    <a target="_blank" th:href="@{'/product/'+${ads1.current.getProductId()}}">
                        <img th:src="${ads1.current.getPictureUrl()}" alt="2 slide"/>
                    </a>
                    <div class="carousel-caption">
                        &lt;!&ndash;<h1 th:text="'$'+${ads1.current.getType()}">type</h1>&ndash;&gt;
                        <p th:text="${ads1.current.getDescription()}">description</p>
                    </div>
                </div>
            </tr>
        </div>-->

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Resource/conon.jpg" alt="1 slide">
                <div class="carousel-caption">
                    <h1>第四代 Intel Core 处理器</h1>
                    <p>无论是什么任务，配备 Intel HD Graphics 5000 图形处理器的第四代 Intel Core 处理器都能应对自如。</p>
                    <p>
                        <a href="#" class="btn btn-lg btn-primary" role="button">点我下载</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/Resource/macbook.jpg" alt="2 slide">
                <div class="carousel-caption">
                    <h1>MacBook Air</h1>
                    <p>有了新一代 802.11ac 技术，MacBook Air 令 Wi-Fi 速度超越极限。</p>
                    <p>
                        <a href="#" class="btn btn-lg btn-primary" role="button">点我下载</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- 左按钮 -->
        <a href="#LBbox" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">上一页</span>
        </a>
        <!-- 右按钮 -->
        <a href="#LBbox" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">下一页</span>
        </a>
    </div>

    <br>
    </br>



    <!-- 商铺广告区 -->
    <div class="container" th:if="${not pro_rollad_isnull}">
        <tr th:each="ads : ${shop_ads}">
            <div class="col-lg-2">
                <a target="_blank" th:href="@{'/shop/'+${ads.getsellerId()}}">
                    <img th:src="@{${ads.getpictureUrl()}}" alt="fail pics" width="200" height="300"/>
                </a>
            </div>
        </tr>


    </div>

    <br>
    </br>

    <!-- 商品广告展示-->

    <div class="container" th:if="${not pro_listad_isnull}">
        <tr th:each="adv2 : ${pro_ads}">
            <div class="col-md-2">
                <div class="img">
                    <a target="_blank" th:href="@{'/product/'+${adv2.getproductId()}}">
                        <img th:src="${adv2.getpictureUrl()}" alt="Ballade" width="160" height="160"/>
                    </a>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Product </th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td th:text="${adv2.getdescription()}">Info</td>
                    <td th:text="${adv2.getprice()}">Price</td>
                    </tbody>
                </table>
            </div>
        </tr>
    </div>



    <!--网页眉头 -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">User name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{ShoppingCart}">cart</a></li>
                    <li><a th:href="@{Favorite}">favorite</a></li>
                    <li><a th:href="@{MyOrder}">history</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div class="container">
    <div class="col-lg-4">
        <img src="/Resource/Present.jpg">
    </div>
    <div class="col-lg-8">
        <article class="htmleaf-container">
            <div class='ex' name='3'>
                <div class='fsbanner'>
                    <div style='background-image:url(/Resource/server.jpg)'>
                        <span class='name'>BLACK</span>
                    </div>
                    <div style='background-image:url(/Resource/conon.jpg)'>
                        <span class='name'>BROWN</span>
                    </div>
                    <div style='background-image:url(/Resource/speaker.jpg)'>
                        <span class='name'>PANDA</span>
                    </div>
                    <div style='background-image:url(/Resource/macbook.jpg)'>
                        <span class='name'>POLAR</span>
                    </div>
                    <div style='background-image:url(/Resource/teethbrush.jpg)'>
                        <span class='name'>POLAR</span>
                    </div>
                    <div style='background-image:url(/Resource/server.jpg)'>
                        <span class='name'>POLAR</span>
                    </div>
                    <div style='background-image:url(/Resource/polar.jpg)'>
                        <span class='name'>POLAR</span>
                    </div>
                </div>
            </div>
        </article>
        <div class="col-lg-0">
            <b>
                如果你还在犹豫要不要用电子发票，<br>

                恭喜亲啦，<br>

                马上参加感恩节大放“价”活动吧！！！<br>

                在阿里发票平台上订购百望电票服务：点我订购 <br>

                立享买一送一，真金白银省省省哦~ <br></b>
        </div>
    </div>

</div>
<div class="panel panel-default" style="height: 1000px">
    <div class="panel-body">
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/conon.jpg">
                    <img src="/Resource/conon.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/macbook.jpg">
                    <img src="/Resource/macbook.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/server.jpg">
                    <img src="/Resource/server.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <div class="img">
                <a target="_blank" href="/Resource/speaker.jpg">
                    <img src="/Resource/speaker.jpg" alt="Ballade" width="160" height="160">
                </a>
                <div class="desc">server</div>
            </div>


            <table>
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>conon</td>
                    <td>$900</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<!--网页注脚-->
<div class="footer">
    <div>
        <div style="float: left"> About us:</div>
        <div> 029-1342535</div>
    </div>

    <div> Copyright © 2015 XiDian SPM Group 5 Ltd. All rights reserved.</div>
</div>

<!--<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->

<script src="js/ajaxGoodsType.js"></script>
<script type="text/javascript" src="/js/fsbanner.js"></script>
<script type="text/javascript">
    //<![CDATA[
    $(function () {
        $('.ex[name=3] .fsbanner').fsBanner({
            trigger: 'mouse'
        });
    });
    //]]>
</script>
<script type="text/javascript" src="/js/zySearch.js"></script>
<script type="text/javascript">
    $("#zySearch").zySearch({
        "width":"355",
        "height":"33",
        "parentClass":"pageTitle",
        "callback":function(keyword){
            console.info("搜索的关键字");
            console.info(keyword);
        }
    });
</script>
</body>
</html>
</html>